body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: black;
}

.post{
  color: white;
  font-size: 2em;
  margin-bottom: 2rem;
}
.post_likes{
  font-weight: 500;
}